In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('twitter_dataset.csv')

In [4]:
data = data.drop(columns=['location','screen_name','status_count','source_device','retweet_text','quote_text','quote_screen_name'])

In [5]:
data.shape

(27590, 8)

In [7]:
data.columns

Index(['tweet_id', 'name', 'retweet_count', 'text', 'mined_at', 'created_at',
       'favourite_count', 'hashtags'],
      dtype='object')

In [6]:
data['name'].value_counts()

Bloomberg Crypto     3250
Pomp ðŸŒª               3249
Bitso                3249
Tyler Winklevoss     3248
CryptoWhale          3247
CryptoYoda           3227
Lex Moskovski        3144
Kris | Crypto.com    2061
Michael Saylor       1515
Elon Musk            1400
Name: name, dtype: int64

In [17]:
data['created_at']

0        2021-03-08 22:22:29.000000
1        2021-03-08 22:22:18.000000
2        2021-03-08 22:08:37.000000
3        2021-03-08 22:06:15.000000
4        2021-03-08 22:00:34.000000
                    ...
27585    2017-05-29 16:26:46.000000
27586    2017-05-29 16:07:56.000000
27587    2017-05-29 16:04:49.000000
27588    2017-05-29 15:13:51.000000
27589    2017-05-29 14:57:29.000000
Name: created_at, Length: 27590, dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27590 entries, 0 to 27589
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         27590 non-null  int64
 1   name             27590 non-null  object
 2   retweet_count    27590 non-null  int64
 3   text             27590 non-null  object
 4   mined_at         27590 non-null  object
 5   created_at       27590 non-null  object
 6   favourite_count  27590 non-null  int64
 7   hashtags         27590 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.7+ MB

In [11]:
# Revisar si hay hashtags
data['hashtags'].unique()

array(['[]', "[{'text': 'takeyourcashback', 'indices': [117, 134]}]",
       "[{'text': 'Bitcoin', 'indices': [54, 62]}]", ...,
       "[{'text': 'fullscreen', 'indices': [43, 54]}]",
       "[{'text': 'markets', 'indices': [124, 132]}]",
       "[{'text': 'goldenage', 'indices': [47, 57]}]"], dtype=object)

In [51]:
# Convert object columns to datetime
'2009-10-31 14:26:09.000000'
# ,format="%Y-%m-%dT%H:%M:%S.f"

from datetime import datetime
data['created_at']= pd.to_datetime(data['created_at'], errors='coerce',format="%Y-%m-%d %H:%M")
data['mined_at']= pd.to_datetime(data['mined_at'], errors='coerce',format="%Y-%m-%d %H:%M")

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27590 entries, 0 to 27589
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tweet_id         27590 non-null  int64
 1   name             27590 non-null  object
 2   retweet_count    27590 non-null  int64
 3   text             27590 non-null  object
 4   mined_at         27590 non-null  datetime64[ns]
 5   created_at       27590 non-null  datetime64[ns]
 6   favourite_count  27590 non-null  int64
 7   hashtags         27590 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 1.7+ MB