## Merge two df

In [1]:
import pandas as pd

In [2]:
btc_df = pd.read_csv('BTC-USD.csv')

In [3]:
sentiment_df = pd.read_csv('sentiment_df.csv')

In [4]:
btc_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
sentiment_df.columns

Index(['Date', 'Positive', 'Neutral', 'Negative'], dtype='object')

In [6]:
btc_df.info(), sentiment_df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2363 non-null   object
 1   Open       2359 non-null   float64
 2   High       2359 non-null   float64
 3   Low        2359 non-null   float64
 4   Close      2359 non-null   float64
 5   Adj Close  2359 non-null   float64
 6   Volume     2359 non-null   float64
dtypes: float64(6), object(1)
memory usage: 129.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1988 entries, 0 to 1987
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1988 non-null   object
 1   Positive  1988 non-null   int64
 2   Neutral   1988 non-null   int64
 3   Negative  1988 non-null   int64
dtypes: int64(3), object(1)
memory usage: 62.2+ KB

In [7]:
new_df = pd.merge(btc_df, sentiment_df, on='Date')

In [8]:
new_df = new_df.drop(columns=['Open','High','Low','Adj Close','Volume'])

In [9]:
new_df = new_df.rename(columns={'Close':'Close Price'})

In [10]:
new_df.head()

         Date  Close Price  Positive  Neutral  Negative
0  2014-09-18   424.440002         0        0         3
1  2014-09-20   408.903992         0        3         0
2  2014-09-21   398.821014         0        9         0
3  2014-09-22   402.152008         0        2         0
4  2014-09-24   423.204987         0        8         0

In [12]:
col_list = ['Positive', 'Neutral', 'Negative']
new_df['Total_Tweets'] = new_df[col_list].sum(axis=1)

In [13]:
new_df

            Date   Close Price  Positive  Neutral  Negative  Total_Tweets
0     2014-09-18    424.440002         0        0         3             3
1     2014-09-20    408.903992         0        3         0             3
2     2014-09-21    398.821014         0        9         0             9
3     2014-09-22    402.152008         0        2         0             2
4     2014-09-24    423.204987         0        8         0             8
...          ...           ...       ...      ...       ...           ...
1555  2021-03-02  48378.988281      7794    54966      4409         67169
1556  2021-03-03  50538.242188     18544    54708      5603         78855
1557  2021-03-04  48561.167969     21655    27253       660         49568
1558  2021-03-05  48927.304688      5284    38693      4701         48678
1559  2021-03-06  48503.964844     19154    44077      2981         66212

[1560 rows x 6 columns]

In [14]:
new_df.to_csv('final_df.csv',index=False)