In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data.columns

Index(['name', 'retweet_count', 'text', 'created_at', 'favourite_count',
       'hashtags', 'sentiment_a', 'stopwords', 'clean_words', 'polarity',
       'sentiment'],
      dtype='object')

In [3]:
data = pd.read_csv('clean_tweets.csv')

,name,retweet_count,text,created_at,favourite_count,hashtags,sentiment_a,stopwords,clean_words,polarity,sentiment
0,Pomp,0,wild,2021-03-08,61,[],['wild'],"['i', 'me', 'my', 'myself', 'we', 'our', 'ours...",[' wild '],0.100000,positive
1,Pomp,125,rt if you had invested your 1200 stimulus che...,2021-03-08,0,[],"['rt', 'if', 'you', 'had', 'invested', 'your',...","['i', 'me', 'my', 'myself', 'we', 'our', 'ours...",['if you had invested your 1200 stimulus check...,0.000000,neutral
2,Pomp,3,how is your paper trading account going,2021-03-08,86,[],"['how', 'is', 'your', 'paper', 'trading', 'acc...","['i', 'me', 'my', 'myself', 'we', 'our', 'ours...",[' how is your paper trading account going'],0.000000,neutral
3,Pomp,132,update gamestop closed today at 194 per share ...,2021-03-08,1906,[],"['update', 'gamestop', 'closed', 'today', 'at'...","['i', 'me', 'my', 'myself', 'we', 'our', 'ours...",['update gamestop closed today at 194 per shar...,0.100000,positive
4,Pomp,6,rt daily letter this morning is pretty spot ...,2021-03-08,0,[],"['rt', 'daily', 'letter', 'this', 'morning', '...","['i', 'me', 'my', 'myself', 'we', 'our', 'ours...",['daily letter this morning is pretty spot on ...,0.083333,positive

# New df containing just sentiments

In [8]:
new_df = data[['retweet_count', 'created_at','sentiment']].copy()

In [9]:
new_df

       retweet_count  created_at sentiment
0                  0  2021-03-08  positive
1                125  2021-03-08   neutral
2                  3  2021-03-08   neutral
3                132  2021-03-08  positive
4                  6  2021-03-08  positive
...              ...         ...       ...
24336             21  2017-05-29   neutral
24337              0  2017-05-29  positive
24338             76  2017-05-29  positive
24339              0  2017-05-29   neutral
24340              0  2017-05-29  positive

[24341 rows x 3 columns]

In [23]:

new_df[['positive', 'neutral', 'negative']] = pd.DataFrame([[0,0,0]])

In [45]:
new_df

       retweet_count  created_at sentiment  positive  neutral  negative
0                  0  2021-03-08  positive         1        0         0
1                125  2021-03-08   neutral         0      126         0
2                  3  2021-03-08   neutral         0        4         0
3                132  2021-03-08  positive       133        0         0
4                  6  2021-03-08  positive         7        0         0
...              ...         ...       ...       ...      ...       ...
24336             21  2017-05-29   neutral         0       22         0
24337              0  2017-05-29  positive         1        0         0
24338             76  2017-05-29  positive        77        0         0
24339              0  2017-05-29   neutral         0        1         0
24340              0  2017-05-29  positive         1        0         0

[24341 rows x 6 columns]

In [29]:
def fillPositive(new_df):
    if new_df['sentiment'] == 'positive':
        value = new_df['retweet_count']+1
        return value
    else:
        return 0

In [39]:
def fillNeutral(new_df):
    if new_df['sentiment'] == 'neutral':
        value = new_df['retweet_count']+1
        return value
    else:
        return 0

In [40]:
def fillNegative(new_df):
    if new_df['sentiment'] == 'negative':
        value = new_df['retweet_count']+1
        return value
    else:
        return 0

In [42]:
new_df['positive'] = new_df.apply(fillPositive, axis=1)

In [43]:
new_df['neutral'] = new_df.apply(fillNeutral, axis=1)

In [44]:
new_df['negative'] = new_df.apply(fillNegative, axis=1)

In [47]:
new_df.groupby(['created_at']);

In [57]:
new_df = new_df.drop(labels=['retweet_count','sentiment'],axis=1)

In [64]:
new_df = new_df.groupby('created_at').sum()

In [66]:
# Export comma-separated variable file (just in case)
new_df.to_csv('DATE-SENTIMENT.csv', index=False)